<!DOCTYPE html>

<html>

<body>

<h3> Live Stream</h3>

<img alt="" src="http://127.0.1.1:8080/?action=stream" width="320" height="240" /> 



<form action="/80" method="post">
  <input type="submit" value="4 --->"></input>
</form>


<form action="/90" method="post">
  <input type="submit" value="3 --->"></input>
</form>


<form action="/100" method="post">
  <input type="submit" value="2 --->"></input>
</form>


<form action="/110" method="post">
  <input type="submit" value="1 --->"></input>
</form>





<form action="/center" method="post">
  <input type="submit" value="Center"></input>
</form>




<form action="/130" method="post">
  <input type="submit" value="<--- 1"></input>
</form>


<form action="/140" method="post">
  <input type="submit" value="<--- 2"></input>
</form>


<form action="/150" method="post">
  <input type="submit" value="<--- 3"></input>
</form>


<form action="/160" method="post">
  <input type="submit" value="<--- 4"></input> 
</form>
























<form action="/stopstream" method="post">
  <input type="submit" value="Stop Stream"></input>
</form>


<form action="/takepic" method="post">
  <input type="submit" value="Take Picture"></input>
</form>

<form action="/prepstream" method="post">
  <input type="submit" value="Prep Stream"></input>
</form>



<form action="/restartstream" method="post">
  <input type="submit" value="Restart Stream"></input>
</form>

<form action="/showpic" method="post">
  <input type="submit" value="Pictures"></input>
</form>





<h4> </h4>

</body>

</html>